.signHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--black-color-100);
  color: var(--white-color);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.title {
  font-size: 1rem;
  color: var(--gray-color);
}

.btn {
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.btn:hover {
  color: var(--blue-color);
}
